  <li class="has-dropdown">
    <a href="#">Jadon</a>
    <ul class="dropdown">
      <li>
        <a href="/student/jadon">Home</a>
      </li>
      <li>
        <a href="/student/jadon/journal">Journal</a>
      </li>
       <li>
        <a href="/student/jadon/gradebook">Gradebook</a>
      </li>
    </ul>
  </li>