<li class="has-dropdown">
	<a href="#">Natalie</a>
	<ul class="dropdown">
      <li>
        <a href="/student/natalie">Home</a>
      </li>
      <li>
        <a href="/student/natalie/journal">Journal</a>
      </li>
       <li>
        <a href="/student/natalie/gradebook">Gradebook</a>
      </li>
	</ul>
</li>