<li class="has-dropdown">
	<a href="#">Resources</a>
	<ul class="dropdown">
		<li>
			<a href="#">First link in dropdown</a>
		</li>
		<li class="active">
			<a href="#">Active link in dropdown</a>
		</li>
	</ul>
</li>