<li class="has-form">
	<form id="top_bible_search_form" method="get" action="/bible">
		<div class="row collapse">
			<div class="large-8 small-9 columns">
				<input style="height: 30px;" name="passage" type="text" placeholder="Search the Bible...">
			</div>
			<div class="large-4 small-3 columns">
				<a id="top_bible_search" class="button expand">Bible</a>
			</div>
		</div>
	</form>
</li>