<aside class="large-3 columns">
  <h5>Quick Links</h5>
  <ul class="side-nav">
    <li>
      <a target="_blank" href="https://www.abekaacademy.org/VideoStreaming/Player/ABekaEducationOnLine.html#">ABeka Academy</a>
    </li>
    <li>
      <a target="_blank" href="https://www.khanacademy.org/">Kahn Academy</a>
    </li>
    <li>
      <a target="_blank" href="http://www.ixl.com">IXL</a>
    </li>
    <li>
      <a target="_blank" href="http://www.abcmouse.com">ABCMouse</a>
    </li>
    <li>
      <a target="_blank" href="http://www.education.com">Education.com</a>
    </li>

  </ul>
  <div class="panel">
    <h5>Featured</h5>
    <p>
      Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.
    </p>
    <a href="#">Read More &rarr;</a>
  </div>
</aside>