<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>
          &copy; Copyright <%= Time.now.year %> Cassie Barker Homeschool 
        </p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/student/jadon">Jadon</a>
          </li>
          <li>
            <a href="/student/natalie">Natalie</a>
          </li>
          <li>
            <a href="/resources">Resources</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>