<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Mrs. Barker's Class</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon">
      <a href="#"><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li>
        <a href="/">Home</a>
      </li>
      <li class="has-dropdown">
        <a href="/bible">Bible</a>
        <ul class="dropdown">
          <li>
            <a href="/bible">Search</a>
          </li>
          <li>
            <a href="/bible/genesis">Genesis</a>
          </li>
          <li>
            <a href="/bible/exodus">Exodus</a>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Jadon</a>
        <ul class="dropdown">
          <li>
            <a href="#">First link in dropdown</a>
          </li>
          <li class="active">
            <a href="#">Active link in dropdown</a>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Natalie</a>
        <ul class="dropdown">
          <li>
            <a href="#">First link in dropdown</a>
          </li>
          <li class="active">
            <a href="#">Active link in dropdown</a>
          </li>
        </ul>
      </li>
      <li class="has-dropdown">
        <a href="#">Resources</a>
        <ul class="dropdown">
          <li>
            <a href="#">First link in dropdown</a>
          </li>
          <li class="active">
            <a href="#">Active link in dropdown</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li class="has-form">
        <form id="top_bible_search_form" method="get" action="/bible">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input style="height: 30px;" name="passage" type="text" placeholder="Search the Bible...">
            </div>
            <div class="large-4 small-3 columns">
              <a id="top_bible_search" class="button expand">Bible</a>
            </div>
          </div>
        </form>
      </li>
    </ul>
  </section>
</nav>

<br>

<div class="row">
  <div class="large-12 columns">
    <%= render "layouts/blocks/topnav" %>
    <h1>Mrs. Barker's Class</h1>
    <p><%= longdate %></p>
    <hr/>
  </div>
</div>