<div class="nav-bar right">
  <ul class="button-group">
    <li>
      <a id="top_home" href="/" class="button">Home</a>
    </li>
    <li>
      <a id="top_jadon" href="/student/jadon" class="button">Jadon</a>
    </li>
    <li>
      <a id="top_natalie" href="/student/natalie" class="button">Natalie</a>
    </li>
    <li>
      <a id="top_resources" href="/resources" class="button">Resources</a>
    </li>
  </ul>
</div>